<h1>Add a new Task !</h1>

<p>Find me in app/views/tasks/new.html.erb</p>
<%= render 'form', task: @task %>

<form action="/restaurants" method="post">

 <div class= 'btn btn-primary'><%= link_to "Return to index", tasks_path  %></div>
